/* Base Application Styles */
/* primary color: #eef1f6 */
/* General */
body {
  color: #000;
  background: #f2f4f6;
  font-size: 13px;
  font-family: 'Roboto';
}

.label-active {
  background-color: #45c10f;
  padding: 4px 15px;
  font-weight: 400;
  color: #fff;
  border-radius: 5%;
}
.label-inactive {
  background-color: #c11d0f;
  padding: 4px 9px;
  font-weight: 400;
  color: #fff;
  border-radius: 5%;
}

/* HEADER */
.v-header-bg{
  height: 100vh;
  padding: 0;
}
.v-header-image{
  padding: 25px 36px;
  text-align: center;
  margin: auto;
}
.v-header-image > img{
  width: 90px;
}
.header-container{
  background-color: #fff !important;
  box-shadow: none !important;
}
.img-header{
  width: 81px;
  padding: 8px;
  margin: 0 0 4px 57px;
}

/* Navigation Bar */
.nav-fixed{
  position: fixed;
  background-color: #fff;
  height: 100vh;
  padding: 0;
  width: 200px;
}
.nav-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav-bar li{
  margin: 0;
}
.nav-bar li a{
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  /*padding: 15px 15px 15px 30px;*/
  padding: 10px 15px 12px 30px;
  color: #9c9c9c;
  width: 100%;
}
.nav-bar li:hover {
  border-left: 4px solid #eef1f6;
}
.nav-bar li:hover a{
  text-decoration: none;
  color: #eef1f6;
  cursor: pointer !important;
  /*padding: 15px 15px 15px 26px !important;*/
  padding: 12px 15px 12px 26px;
}
.nav-bar li:hover .nav-icon{
  color: #eef1f6 !important;
  cursor: pointer !important;
}
.nav-bar li.active > a {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #eef1f6 !important;
  border-left: 4px solid #eef1f6;
  /*padding: 15px 15px 15px 26px !important;*/
  padding: 12px 15px 12px 26px;
}
.nav-bar li.active > a > .nav-icon{
  color: #eef1f6 !important;
}
.nav-bar li.active:hover {
  border-left: none !important;
}
.nav-icon, .logout-icon{
  margin: -5px 10px 0 0;
  float: left;
  color: #9c9c9c !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #eef1f6;
}

.dropdown-menu > li > a > .nav-icon-sub{
  margin: -3px 11px 0 0;
  float: left;
  color: #9c9c9c !important;
}
.dropdown-menu > li.active > a > .nav-icon-sub{
  margin: -3px 11px 0 0;
  color: #eef1f6 !important;
  float: left;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    /*background-color: #eee;*/
    background-color: #eeeeee45 !important;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover{
  background-color: #eeeeee45 !important;
}
.dropdown-menu {
  left: 63px;
}
.dropdown-menu > li > a {
  color: #9c9c9c !important;
}
.dropdown.active .nav-icon{
  color: #eef1f6 !important;
}

/*.nav-active:hover{
  border-left: none !important;
}*/
/*.nav-active{
  color: #eef1f6 !important;
  border-left: 4px solid #eef1f6;
  padding: 15px 15px 15px 26px !important;
}*/
/*.nav-active > .nav-icon{
  color: #eef1f6 !important;
}*/
.logout-button {
  padding: 20px 30px;
  color: #9c9c9c;
  bottom: 0;
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
}
.logout-button:hover  {
  background-color: #fff;
  color: #eef1f6;
  cursor: pointer !important;
}
.logout-button:hover .logout-icon{
  color: #eef1f6 !important;
  cursor: pointer !important;
}

/* CONTAINERS */
.v-main-container{
  padding: 30px 50px;
}
.col-no-padding{
  padding: 0;
}
.content-container{
  padding: 15px 10px;
  box-shadow: none !important;
  font-family: 'Roboto';
}
.content-divider{
  margin: 90px 0px 0px !important;
}


/* BODY CONTENT */
.first-letter {
    text-transform: capitalize !important;
}

.full-width{
  width: 100% !important;
}
.content-heading {
  font-size: 30px;
  font-family: Roboto;
  font-weight: 100;
  position: absolute;
  top: 0;
  color: #adadad;
}
.content-record-label{
  position: absolute;
  top: 78px;
  color: #a9a9a9;
  font-weight: 200;
}
.dropdownButton-fixed-300 {
  width: 300px !important;
  margin: 15px 0px 0px -24px;
  display: block;
}
.dropdownButton-fixed-300 >div > div:nth-child(2){
  padding-left: none !important;
  padding-right: none !important;
}
.dropdownButton-fixed-300 >div > button > div {
  margin: none !important;
}
.dropdownButton {
  width: 100% !important;
  margin: 15px 0px 0px -24px;
}
.dropdownButton >div > div:nth-child(2){
  padding-left: none !important;
  padding-right: none !important;
}
.dropdownButton >div > button > div {
  margin: none !important;
}
.checkBox{
  margin: 25px 0 10px 0;
}

.search-form{
  position: absolute;
  top: 54px;
  right: 190px;
}
.search-button{
  margin: 7px 4px 0 0 !important;
}
.search-icon{
  color: #adadad !important;
}
.close-button{
  margin: 7px 4px 0 0 !important;
  z-index: 99;
}
.close-icon{
  color: #eef1f6 !important;
}
.search-bar {
  height: 44px;
  padding: 0 28px 0 5px;
  margin: 8px 10px 0 0;
  font-size: 18px;
  display: inline-block;
  font-family: "Roboto";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}
.search-bar:focus:hover {
  border-bottom: 1px solid #BBB;
}
.search-bar:focus {
  width: 190px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

.icon-action{
  color: #adadad !important;
}
.icon-action-active{
  color: #eef1f6 !important;
}
.checkstatus-container{
  position: absolute;
  top: 60px;
  right: 110px;
}

.pageview-container{
  position: absolute;
  top: 60px;
  right: 152px;
}

/* SPACING AND INDENTIONS */
.indent-right-50{
  margin-right: 50px;
}
@media (max-width: 767px) {
  .indent-right-50 {
    margin-right: 0 !important;
  }
}


/* FLOATING BUTTON */
.v-floating-action-circle{
  top: 25px;
  position: absolute;
  right: 20px;
  margin: 35px;
  background-color: #eef1f6;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border-radius: 50%;
  padding: 3px;
}
.v-floating-action-circle > div > button {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}
.v-floating-action-circle > button {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}

.v-floating-return-circle{
  top: 37px;
  position: absolute;
  left: 15px;
  margin: 35px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border-radius: 50%;
  padding: 0px;
}
.v-floating-return-circle > div > button {
  width: 25 !important;
  height: 25 !important;
  padding: 0 !important;
}
.v-floating-return-circle > button {
  width: 25 !important;
  height: 25 !important;
  padding: 0 !important;
}
.floating-return-button-icon{
  margin: 0;
  color: #eef1f6 !important;
}

.floating-return-button{
  bottom: 96px;
  position: fixed;
  right: 34px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  padding: 0px;
  z-index: 999;
}

.floating-button{
  bottom: 0px;
  position: fixed;
  right: 0;
  margin: 30px;
  background-color: rgb(211, 47, 47);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 50%;
  padding: 5px;
  z-index: 999;
}
.floating-button-link{
  line-height: 0 !important;
  text-decoration: none;
}
.floating-button-icon{
  margin: 0;
  color: #fff !important;
}

/* TABLES */
.list-table td:first-child{
  width: 20px;
}
.list-table th:nth-child(2){
  padding-left: 22px;
}
.list-table th{
  color: #888;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}
.list-table th > label{
  cursor: pointer;
  font-weight: 400;
}
.list-table th:hover label, .list-table th .active{
  cursor: pointer;
  font-weight: 400;
  color: #eef1f6 !important;
}
.list-table .sorticon{
  margin-left: 14px !important;
}
.list-table td:nth-child(2){
  text-align: left;
}
.list-table td{
  border-top: none !important;
  padding: 4px !important;
  vertical-align: middle !important;
  color: #444;
  text-align: center;
}
.list-table td > img{
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 5px;
  border-radius: 50%;
}

/* PAGINATION */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus,
.pagination > .active > span:focus{
  background-color: #eef1f6;
  border-color: #eef1f6;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #3a3a3a;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}

/* MODALS */
.modal-container-100 {
  width: 100%;
  max-width: none !important;
}
.modal-container-80 {
  width: 80%;
  max-width: none !important;
}
.modal-container-60 {
  width: 60%;
  max-width: none !important;
}

.item-image-box {
  position: relative;
  background-color: #fbfbfb;
  width: 360px;
  height: 400px;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.modal-image-box {
  position: absolute;
  top: 110px;
  left: -80px;
  background-color: #fbfbfb;
  width: 360px;
  height: 400px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 3px 5px 10px 0px;
}
.modal-image-preview {
  margin: auto;
  max-width: 300px;
}
.modal-image-preview > img {
  margin: 15px auto;
  max-width: 300px;
  max-height: 300px;
  width: 100%;
}
.modal-image-button {
  position: absolute;
  right: 130px;
  top: 343px;
  cursor: hand;
}

.fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
  cursor: hand;
}
.fileInput + label {
  font-size: 15px;
  font-weight: 700;
  color: #d32f2f;
  border: 1px solid #d32f2f;
  display: inline-block;
  cursor: hand;
  padding: 10px;
}

.modal-content-title{
  margin: 10px 0 10px -50px;
}
.modal-content-title > h3{
  color: #8e8d8d;
}

@media (max-width: 767px) {
  .modal-fullmode-xs > div > div{
    width: 100% !important;
    max-width: none !important;
    margin: none !important;
  }
}



/* FLOATS */
.pull-right-responsive {
  float: right !important;
}
.pull-left-responsive {
  float: left !important;
}
@media (max-width: 767px) {
  .pull-right-responsive {
    float: none !important;
  }
  .pull-left-responsive {
    float: none !important;
  }
}

/* LOADING INDICATOR */
.refresh-loading-container {
  width: 100%;
  position: fixed;
  margin: auto;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.77);
  z-index: 99;
}
.refresh-loader{
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
}

/* PAGE TRANSITIONS */
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}
