/* Base Application Styles */
/* primary color: #e54f10 */
/* navigation background-color: #e54f10 */
/* navigation active-color: #806d3b */
/* General */
body {
  color: #3b3434;
  /*background: #f2f4f6;*/
  background: #fff;
  /*background: url('../images/background.jpg');*/
  /*background: url(../images/background.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif !important;
}
body > *{
  font-family: 'Montserrat', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat', sans-serif !important;
}
.primary-color{
  color: #28221d !important;
}

.label-active {
  background-color: #45c10f;
  padding: 4px 15px;
  font-weight: 400;
  color: #fff;
  border-radius: 5%;
}
.label-inactive {
  background-color: #c11d0f;
  padding: 4px 9px;
  font-weight: 400;
  color: #fff;
  border-radius: 5%;
}
.capital{
  text-transform: capitalize !important;
  font-weight: inherit;
}
.inherit{
  color: inherit !important;
}
.white{
  color: #fff !important;
}
.round{
  border-radius: 50% !important;
  padding: 6px 12px;
  font-size: inherit;
  color: #fff;
  font-weight: inherit;
  margin-right: 10px;
}
.red{
  background-color: #c11d0f !important;
}
.red-text{
  color: #c11d0f !important;
}
.green{
  background-color: #45c10f !important;
}
.red-icon{
  color: #df3b34 !important;
  fill: rgb(223, 59, 52) !important;
}
.green-icon{
  color: #45c10f !important;
  fill: rgb(69, 193, 15) !important;
}
.search-prod{
  width: 300px !important;
  /* min-width: 30% !important; */
  float: right !important;
  margin-right: 20px !important;
}
#search > svg{
  color: #1f568d !important;
  margin-top: 6px;
}
.nav-icon > .blue-icon{
  color: #1f568d !important;
}
label, select{
  color: #3b3434 !important;
  font-family: 'Montserrat', sans-serif !important;
}
.half{
  width: 50% !important;
}
.chkbx-label > div > label {
  font-weight: 500 !important;
  font-size: 15px !important;
}
textarea.big-textarea{
  height: 150px !important;
}
textarea.medium-textarea{
  height: 100px !important;
}
.back-btn{
  color: #2d5988 !important;
}
.back-btn:hover{
  background-color: #fff !important;
}
.back-btn > div > svg{
  color: #2d5988 !important;
  fill: #2d5988 !important;
}
.pointer{
  cursor: pointer !important;
}
.blue-text{
  color: #1f568d !important;
}
.strong-th > label{
  font-weight: 700 !important;
}
.inherit-font{
  font-weight: 500 !important;
  font-size: 15px !important;
}
.inherit-font > div > label{
  font-weight: 500 !important;
  font-size: 15px !important;
}
.bigCheckbox {
  width: 40px !important;
  height: 40px !important;
}

.uppercase{
  text-transform: uppercase !important;
}

.no-padding-left{
  padding-left: 0px !important;
}

.center{
  text-align: center !important;
}

.padding-l-25 > td:nth-child(2){
  padding-left: 25px !important
}

.hide{
  visibility: hidden !important;
}

.visible{
  visibility: visible !important;
}

.width-88{
  width: 88% !important;
}

/* FORMS */
.form-control-react{
  display: block !important;
  width: 100% !important;
  height: 34px !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555555 !important;
  background-color: #ffffff !important;
  background-image: none !important;
  border: 1px solid #cccccc !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.form-control-react > div > div {
  line-height: 22px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
  border-top: none !important;
}

.form-control-react > div > button {
  visibility: hidden !important;
}

.form-control-react2{
  display: block !important;
  width: 60% !important;
  height: 34px !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555555 !important;
  background-color: #ffffff !important;
  background-image: none !important;
  border: 1px solid #cccccc !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.form-control-react2 > div > div {
  line-height: 22px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
  border-top: none !important;
}

.form-control-react2 > div > button {
  visibility: hidden !important;
}

.form-group-no-space{
  padding-bottom: 0px !important;
  line-height: 0px !important;
}

/* DateTime on Table List */
.table-label-datetime {
    float: left !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555555 !important;
    background-image: none !important;
}
.table-label-datetime > div > hr{
  visibility: hidden !important;
}

/* Time on Branch Module */
.form-control-react > div > hr{
  visibility: hidden !important;
}
.form-control-react2 > div > hr{
  visibility: hidden !important;
}
.padding-5{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.margin-top-10{
  margin-top: 10px !important;
}

/* MODAL */
.modal-container{
  margin: 5% !important;
}
.padded-tb{
  padding-top: 20px;
  padding-bottom: 25px;
}
.btn-lg > div > div > .red-btn > button{
  height: 55px !important;
  min-width: 180px !important;
}
.btn-lg > div > div > .red-btn > button > div > div > span{
  font-size: 18px !important;
}
.btn-lg > div > div > .gray-btn > button{
  height: 55px !important;
  min-width: 180px !important;
}
.btn-lg > div > div > .gray-btn > button > div > div > span{
  font-size: 18px !important;
}

.top{
  z-index: 2000 !important;
}

/* BUTTONS */
.inline-block > div{
  display: inline-block !important;
}
.blue-btn{
  border-radius: 50px !important;
  color: #fff !important;
  -webkit-box-shadow: 1px 5px 12px 0px rgba(5, 87, 141, 0.6);
  -moz-box-shadow: 1px 5px 12px 0px rgba(5, 87, 141, 0.6);
  /* box-shadow: -1px 33px 89px -12px rgba(5,87,141,1); */
  box-shadow: 1px 5px 12px 0px rgba(5, 87, 141, 0.6);
  background: #065991; /* Old browsers */
  background: -moz-linear-gradient(left, #065991 0%, #127ac1 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #065991 0%,#127ac1 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #065991 0%,#127ac1 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#065991', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}
.blue-btn > *{
  border-radius: 50px !important;
  color: #fff !important;
  -webkit-box-shadow: 1px 5px 12px 0px rgba(5, 87, 141, 0.6);
  -moz-box-shadow: 1px 5px 12px 0px rgba(5, 87, 141, 0.6);
  /* box-shadow: -1px 33px 89px -12px rgba(5,87,141,1); */
  box-shadow: 1px 5px 12px 0px rgba(5, 87, 141, 0.6);
  background: #065991; /* Old browsers */
  background: -moz-linear-gradient(left, #065991 0%, #127ac1 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #065991 0%,#127ac1 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #065991 0%,#127ac1 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#065991', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}
.blue-btn > button > div > div > span{
  color: #fff !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 100 !important;
  text-transform: capitalize !important;
  letter-spacing: 0.5px !important;
}
.blue-btn > button > div > div:hover{
  background-color: rgba(0, 0, 0, 0) !important;
}
.red-btn{
  border-radius: 50px !important;
  color: #fff !important;
  background: -moz-linear-gradient(left, #b91f2b 0%, #ff0014 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #b91f2b 0%,#ff0014 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #b91f2b 0%,#ff0014 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b91f2b', endColorstr='#ff0014',GradientType=1 ); /* IE6-9 */
  -webkit-box-shadow: 1px 5px 12px 0px rgba(213, 0, 0, 0.68);
  -moz-box-shadow: 1px 5px 12px 0px rgba(213, 0, 0, 0.68);
  box-shadow: 1px 5px 12px 0px rgba(213, 0, 0, 0.68);
}
.red-btn > *{
  border-radius: 50px !important;
  color: #fff !important;
  background: -moz-linear-gradient(left, #b91f2b 0%, #ff0014 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #b91f2b 0%,#ff0014 100%); /* Chrome10-25,Safari5.1-6 **/
  background: linear-gradient(to right, #b91f2b 0%,#ff0014 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b91f2b', endColorstr='#ff0014',GradientType=1 ); /** IE6-9 */
  -webkit-box-shadow: 1px 5px 12px 0px rgba(213, 0, 0, 0.68);
  -moz-box-shadow: 1px 5px 12px 0px rgba(213, 0, 0, 0.68);
  box-shadow: 1px 5px 12px 0px rgba(213, 0, 0, 0.68);
}
.red-btn > button > div > div > span{
  color: #fff !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 100 !important;
  text-transform: capitalize !important;
  letter-spacing: 0.5px !important;
}
.red-btn > button > div > div:hover{
  background-color: rgba(0, 0, 0, 0) !important;
}
.gray-btn{
  border-radius: 50px !important;
  color: #fff !important;
  background: #504b4c; /* Old browsers */
  background: -moz-linear-gradient(left, #504b4c 0%, #a9a4a4 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #504b4c 0%,#a9a4a4 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #504b4c 0%,#a9a4a4 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#504b4c', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
  -webkit-box-shadow: 1px 5px 12px 0px rgba(120,119,119,1);
  -moz-box-shadow: 1px 5px 12px 0px rgba(120,119,119,1);
  box-shadow: 1px 5px 12px 0px rgba(120,119,119,1);
}
.gray-btn > *{
  border-radius: 50px !important;
  color: #fff !important;
  background: #504b4c; /* Old browsers */
  background: -moz-linear-gradient(left, #504b4c 0%, #a9a4a4 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #504b4c 0%,#a9a4a4 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #504b4c 0%,#a9a4a4 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ **/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#504b4c', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
  -webkit-box-shadow: 1px 5px 12px 0px rgba(120,119,119,1);
  -moz-box-shadow: 1px 5px 12px 0px rgba(120,119,119,1);
  box-shadow: 1px 5px 12px 0px rgba(120,119,119,1);
}
.gray-btn > button > div > div > span{
  color: #fff !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 100 !important;
  text-transform: capitalize !important;
  letter-spacing: 0.5px !important;
}
.gray-btn > button > div > div:hover{
  background-color: rgba(0, 0, 0, 0) !important;
}
.white-btn{
  border-radius: 50px !important;
  color: #6b6b6b !important;
  background: #fff; /* Old browsers */
  border: 1px solid #d6d6d6;
  box-shadow: none !important;
}
.white-btn > *{
  border-radius: 50px !important;
  color: #6b6b6b !important;
  background: #fff; /* Old browsers */
  border: 1px solid #d6d6d6;
  box-shadow: none !important;
}
.white-btn > button > div > div > span{
  color: #6b6b6b !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 200 !important;
  text-transform: capitalize !important;
  letter-spacing: 0.5px !important;
}
.white-btn > button > div > div:hover{
  background-color: rgba(0, 0, 0, 0) !important;
}


/* ORDERS Module */
.title-gotham{
  font-family: 'Montserrat', sans-serif !important;
}
.strong-9{
  font-weight: 900 !important;
}
.strong-7{
  font-weight: 700 !important;
}
.strong-6{
  font-weight: 600 !important;
}
.strong-2{
  font-weight: 200 !important;
}
.order-card{
  margin-top: 15px;
  padding: 20px 20px;
  /* font-family: 'Raleway' !important; */
  font-family: 'Montserrat', sans-serif !important;
}
.orderarchive-card{
  margin-top: 30px;
  padding: 5px 20px;
  /* font-family: 'Raleway' !important; */
  font-family: 'Montserrat', sans-serif !important;
}
.fullwidth{
  width: 100% !important;
}
.label-dft{
  font-size: 14px !important;
  padding-top: 6px;
}
.search > .nav-icon{
  margin: 7px 10px 0 0;
  color: #1f568d !important;
}
.pull-colo-r{
  padding-left: 35px;
}
.green-txt{
  color: #52a82a !important;
}
.sub-heading {
  font-size: 22px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    color: #000;
    padding-top: 10px;
}
.big-txt{
  font-size: 37px;
  font-weight: 200;
}

/* HEADER */
.black-bg{
  background-color: #000 !important;
}
.h-header{
  background-image: url('../images/header.png');
  height: 100px;
  padding-left: 60px;
  padding-top: 7px;
  background-repeat: repeat-x;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.header-img{
  /* width: 8%; */
  width: 75px;
}
.v-header-bg{
  padding: 0;
}
.v-header-image{
  padding: 30px 10px;
  text-align: center;
  margin: auto;
}
.v-header-image > img{
  width: 180px;
}
.header-icon-menu > button > div > svg{
  color: #fff !important;
}
.header-container{
  /*background-color: #28221d !important;*/
  background-color: #2c6785 !important;
  box-shadow: none !important;
}
.img-header{
  width: 120px;
  padding: 8px;
  margin: 0 0 4px 5px;
}

/* Navigation Bar */
.nav-fixed{
  position: fixed;
  /*background-color: #28221d;*/
  background-color: #fff0;
  height: 100vh;
  padding: 0;
  /* padding-top: 3%; */
  width: 202px;
  margin-top: 100px;
  border-right: #cdcdcd solid 2px;
  font-size: 14px;
  font-weight: 300;
}
@media (min-width: 1800px) {
  .nav-fixed{
    position: fixed;
    /*background-color: #28221d;*/
    background-color: #156885;
    height: 100vh;
    padding: 0;
    width: 270px;
  }
}
@media (max-height: 500px) {
  .nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    overflow: auto;
    min-height: 54vh !important;
    max-height: 110vh !important;
    height: 60vh !important;
  }
}
@media (min-height: 501px) {
.nav-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  overflow: auto;
  min-height: 54vh !important;
  max-height: 110vh !important;
  height: 75vh !important;
}
}
.nav-stacked > li + li {
  margin: 0 !important;
}
.nav-bar li{
  margin: 0;
}
.nav-bar li a{
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px 12px 28px;
  color: #777777;
  width: 100%;
}
.nav-bar li:hover {
  /*border-left: 4px solid #fff;*/
}
.nav-bar li:hover a{
  text-decoration: none;
  color: #777;
  cursor: pointer !important;
  /*padding: 12px 15px 12px 26px !important;*/
}
.dropdown > .dropdown-menu li.active > a{
  color: #d07e83 !important;
}
.nav-bar li:hover .nav-icon{
  /*color: #806d3b !important;*/
  color: #1f568d !important;
  cursor: pointer !important;
}
.nav-bar li.active > a {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #d07e83 !important;
  /*border-left: 4px solid #fff;*/
  font-weight: 300;
  /*padding: 12px 15px 12px 26px !important;*/
}
.nav-bar li.active > a > .nav-icon{
  color: #1f568d !important;
}
.nav-bar li.active:hover {
  border-left: none !important;
}
.nav-icon{
  margin: -5px 10px 0 0;
  float: left;
  color: #a6a3a3;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #fff;
}

.dropdown-menu {
  min-width: 204px !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius: 0 !important;
  margin: -2px 0px 0px -2px !important;
  /*background-color: #28221d !important;*/
  background-color: #fff !important;
}
.nav-bar li.active > .dropdown-menu{
  left: 0 !important;
}
.dropdown-menu > li > a > .nav-icon-sub{
  margin: -3px 11px 0 0;
  float: left;
  /*color: #9c9c9c !important;*/
  color: #777777 !important;
}
.dropdown-menu > li.active > a > .nav-icon-sub{
  margin: -3px 11px 0 0;
  color: #777777 !important;
  float: left;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  /*background-color: #eee;*/
  background-color: #eeeeee45;
}
.dropdown.open:hover,
.dropdown.open:focus,
.dropdown.open:hover > li > a {
  border-left: none;
}
.dropdown.open li:hover {
  border-left: none;
}
.dropdown.open li:hover a{
  text-decoration: none;
  color: #806d3b;
  cursor: pointer !important;
  /*padding: 12px 15px 12px 26px !important;*/
}
.dropdown-menu > li > a {
  /*color: #9c9c9c !important;*/
  color: #777 !important;
}
.dropdown.active .nav-icon{
  color: #1f568d !important;
}
.dropdown-menu > .active > a {
  border-left: none !important;
}
.dropdown-menu > li:hover {
  border-left: none !important;
}

/* FOOTER */
.footer-container {
  /* position: absolute; */
  width: 100%;
  bottom: 0px;
  /* background-color: #2c6785; */
  padding-top: 3px;
  padding-bottom: 3px;
}
.footer-btn{
  position: relative;
  float: left;
  width: 20%;
  margin: 5px;
  bottom: 0;
  text-align: center;
  height: 40px;
  /* background-color: #fff; */
  background-color: #2d5988;
  border-radius: 50%;
}
.footer-btn:hover {
  background-color: #b9b3b3;
  cursor: pointer;
}
.footer-vertical-separator{
  border-left: 1px solid #eee;
}
.footer-left {
  margin-left: 25px;
}
.footer-icon{
  width: 18px !important;
  height: 18px !important;
  margin: 11px 0 0 0;
  /*color: #28221d !important;*/
  /* color: #2c6785 !important; */
  color: #fff !important;
}

/* CONTAINERS */
.v-main-container{
  padding: 30px 50px;
  margin-top: 80px;
}
@media (max-width: 991px) {
  .v-main-container{
    padding: 30px 10px;
  }
}
@media (min-width: 1400px) {
  .v-main-container{
    padding: 30px 50px 0 0;
  }
}
.col-no-padding{
  padding: 0;
}
.content-container{
  padding: 15px 10px;
  box-shadow: none !important;
  /* font-family: 'Raleway'; */
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 400px) {
  .content-container{
    padding: 0;
    box-shadow: none !important;
    /* font-family: 'Raleway'; */
    font-family: 'Montserrat', sans-serif;
  }
}
.content-field-holder{
  float: left !important;
  width: 100%;
}
.content-heading {
  font-size: 27px;
  /* font-family: 'Raleway'; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700 !important;
  position: absolute;
  top: 0;
  color: #000;
  padding-top: 10px;
}
.content-record-label{
  position: absolute;
  top: 78px;
  color: #a9a9a9;
  font-weight: 200;
}
.content-divider2{
  margin: 36px 0px 0px !important;
  border-top: 1px solid #cdcdcd !important;
}
.content-divider{
  margin: 90px 0px 0px !important;
}
.login-component {
  position: fixed;
  top: 25%;
  left: 48%;
  margin-top: -50px;
  margin-left: -100px;
  bottom: 0;
}

.login-frm{
  position: relative;
  margin-top: 25%;
}

.login-form > .panel-footer{
  background-color: #8f0000 !important;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.login-form{
  background-color: rgba(247, 247, 247, 0.73) !important;
  border: none !important;
  box-shadow: 8px 9px 12px rgba(0, 0, 0, 0.5) !important;
}

.login{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background-color: #fff !important;*/
  background: url(../images/background.jpg) no-repeat center center !important;
  background-size: cover !important;
}

.login-img{
  width: 190px;
  display: block;
  margin-bottom: 3%;
}
.login-button{
  margin: 15px 0 0 0;
  background-color: #2c6885 !important;
  color: #ffffff !important;
}
.login-button > *{
  margin: 15px 0 0 0;
  background-color: #19437a !important;
  color: #ffffff !important;
}
.login-button > button > div > div > span {
  color: #fff !important;
}
.info-container{
  position: relative;
}
.info-container > label {
  display: block;
  color: #777;
  font-weight: 300 !important;
}
.info-build{
  display: block;
  font-size: 12px;
  line-height: 8px;
  color: #9e9e9e;
  margin-top: 4px;
  font-weight: 100;
}

/* FIELD COMPONENTS */
.text-area-holder-default {
  width: 256px;
}
.text-area-holder-regular {
  width: 350px;
}
.text-area-holder-wide {
  width: 400px;
}
.text-area-content-regular{
  width: 350px !important;
}
.text-area-content-wide{
  width: 400px !important;
}
@media (max-width: 767px) {
  .text-area-holder-default,
  .text-area-holder-regular,
  .text-area-holder-wide,
  .text-area-content-regular,
  .text-area-content-wide {
    width: 100% !important;
  }
}
.textfield-default{
  width: 256px;
}
.textfield-regular{
  width: 350px !important;
}
@media (max-width: 767px) {
  .textfield-regular,
  .textfield-default,
  .datefield-default > div:first-child {
    width: 100% !important;
  }
}
.text-remaining{
  color: #969696;
  float: right;
}
.dropdownButton-fixed-300 {
  width: 300px !important;
  margin: 15px 0px 0px -24px;
  display: block !important;
}
.dropdownButton-fixed-400 {
  width: 400px !important;
  margin: 15px 0px 0px -24px;
  display: block !important;
}
.dropdownButton-fixed-300 >div > button > div {
  margin: none !important;
}
.dropdownButton {
  width: 100% !important;
  margin: 15px 0px 0px -24px;
}
.dropdownButton >div > button > div {
  margin: none !important;
}
@media (max-width: 767px) {
  .dropdownButton-fixed-300 {
    width: 100% !important;
    margin: 0;
    display: block;
  }
  .dropdownButton-fixed-300 > div > div:nth-child(2){
    padding: 0 !important;
  }
  .dropdownButton-fixed-300 > div > div:nth-child(4){
    margin: 0 !important;
  }
  .dropdownButton-fixed-300 > div > button{
    margin: 0 !important;
  }
  .dropdownButton {
    width: 100% !important;
    margin: 0;
    display: block;
  }
  .dropdownButton > div > div:nth-child(2){
    padding: 0 !important;
  }
  .dropdownButton > div > div:nth-child(4){
    margin: 0 !important;
  }
  .dropdownButton > div > button{
    margin: 0 !important;
  }
}
.checkBox{
  margin: 25px 0 10px 0;
}
.chip-data{
  margin: 4px 2px 10px  !important;
  float: left;
}
.chip-holder{
  display: flex;
  flex-wrap: wrap;
}

/* WIDGETS */
.search-form{
  position: absolute;
  top: 54px;
  right: 190px;
}
@media (max-width: 767px) {
  .search-form{
    position: absolute;
    top: 54px;
    right: 96px;
  }
}
.search-button{
  margin: 7px 4px 0 0 !important;
}
.search-icon{
  color: #adadad !important;
}
.close-button{
  margin: 7px 4px 0 0 !important;
  z-index: 99;
}
.close-icon{
  color: #e54f10 !important;
}
.search-bar {
  height: 44px;
  padding: 0 28px 0 5px;
  margin: 8px 10px 0 0;
  font-size: 18px;
  display: inline-block;
  /* font-family: "Raleway"; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}
.search-bar:focus:hover {
  border-bottom: 1px solid #BBB;
}
.search-bar:focus {
  width: 190px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

.icon-action{
  color: #adadad !important;
}
.icon-action-active{
  color: #e54f10 !important;
}
.checkstatus-container{
  position: absolute;
  top: 60px;
  right: 110px;
}
@media (max-width: 767px) {
  .checkstatus-container{
    position: absolute;
    top: 60px;
    right: 16px;
  }
}
.pageview-container{
  position: absolute;
  top: 60px;
  right: 152px;
}
@media (max-width: 767px) {
  .pageview-container{
    position: absolute;
    top: 60px;
    right: 56px;
  }
}
.printcode-container{
  position: absolute;
  top: 60px;
  right: 110px;
}
@media (max-width: 767px) {
  .printcode-container{
    position: absolute;
    top: 60px;
    right: 25px;
  }
}

/* SPACING AND INDENTIONS */
.indent-right-50{
  margin-right: 50px;
}
@media (max-width: 767px) {
  .indent-right-50 {
    margin-right: 0 !important;
  }
}


/* FLOATING BUTTON */
.v-floating-action-circle{
  top: 25px;
  position: absolute;
  right: 20px;
  margin: 35px;
  /*background-color: #28221d;*/
  background-color: #1f568d;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border-radius: 50%;
  padding: 3px;
}
.v-floating-action-circle > div > button {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}
.v-floating-action-circle > button {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}

.v-floating-return-circle{
  top: 37px;
  position: absolute;
  left: 15px;
  margin: 35px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border-radius: 50%;
  padding: 0px;
}
.v-floating-return-circle > div > button {
  width: 25 !important;
  height: 25 !important;
  padding: 0 !important;
}
.v-floating-return-circle > button {
  width: 25 !important;
  height: 25 !important;
  padding: 0 !important;
}
.floating-return-button-icon{
  margin: 0;
  color: #e54f10 !important;
}

.floating-return-button{
  position: absolute;
  left: 7px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  padding: 0px;
  z-index: 999;
  top: 62px;
  width: 49px;
}

.floating-button{
  bottom: 0px;
  position: fixed;
  right: 0;
  margin: 30px;
  /*background-color: #28221d;*/
  background-color: #2c6785;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 50%;
  padding: 5px;
  z-index: 999;
}
.floating-button-link{
  line-height: 0 !important;
  text-decoration: none;
}
.floating-button-icon{
  margin: 0;
  color: #fff !important;
}

/* TABLES */
.list-table td:first-child{
  width: 20px;
}
.list-table th:nth-child(2){
  padding-left: 22px;
}
.list-table th{
  color: #888;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}
.list-table th > label{
  cursor: pointer;
  font-weight: 400;
}
.list-table th:hover label, .list-table th .active{
  cursor: pointer;
  font-weight: 400;
  color: #2c6785 !important;
}
.list-table th:nth-child(2){
  /* text-align: left; */
  text-align: left;
}
.list-table .sorticon{
  margin-left: 14px !important;
}
.list-table td:nth-child(2){
  text-align: left;
}
.list-table td{
  border-top: none !important;
  padding: 4px !important;
  vertical-align: middle !important;
  color: #444;
  text-align: center;
}
.list-table td > div:first-child {
  float: left;
}
.list-table td > div:nth-child(2) {
  display: table-cell;
  vertical-align: middle;
  height: 62px;
  width: 25%;
}
.list-table td > img{
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 5px;
  border-radius: 50%;
}
.list-table td > div>  img{
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 5px;
  border-radius: 50%;
}

/* ENLIST APP */
.enlist-app-media{
  width: 100%;
  height: 84px;
  padding: 7px;
}
.enlist-app-media:hover{
  background-color: #ffdf51;
  cursor: pointer;
}
.enlist-app-first {
  float: left;
  width: 80px;
}
.enlist-app-first > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.enlist-app-second{
  float: left;
}
.enlist-app-second > div{
  display: table-cell;
  vertical-align: middle;
  height: 70px;
  width: 205px;
}
@media (max-width: 380px) {
  .enlist-app-second > div{
    display: table-cell;
    vertical-align: middle;
    height: 70px;
    width: 120px;
  }
  .enlist-app-media{
    height: 92px;
  }
}
.enlist-app-third{
  float: right;
  margin: 20px 0;
}
.enlist-app-text{
  width: 100%;
  height: 62px;
  padding: 7px;
}
.enlist-app-text:hover{
  background-color: #ffdf51;
  cursor: pointer;
}
.enlist-app-list {
  float: left;
  width: 100%;
}
.enlist-app-list label:first-child {
  margin: 17px 10px;
}
.enlist-app-list label:nth-child(2){
  margin: 12px 10px;
  float: right;
}

/* PAGINATION */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus,
.pagination > .active > span:focus{
  background-color: #e54b4b;
  border-color: #e54b4b;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #3a3a3a;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}

/* MODALS */
.modal-container-100 {
  width: 100%;
  max-width: none !important;
}
.modal-container-80 {
  width: 80%;
  max-width: none !important;
}
.modal-container-60 {
  width: 60%;
  max-width: none !important;
}
.item-image-box {
  position: relative;
  background-color: #fbfbfb;
  width: 360px;
  height: 440px;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
@media (max-width: 767px) {
  .item-image-box {
    position: relative;
    background-color: #fbfbfb;
    width: 100%;
    height: 400px;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
  }
}
.modal-image-box {
  position: absolute;
  top: 110px;
  left: -80px;
  background-color: #fbfbfb;
  width: 360px;
  height: 400px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 3px 5px 10px 0px;
}
.modal-image-preview {
  margin: auto;
  max-width: 300px;
}
.modal-image-preview > img {
  margin: 15px auto;
  max-width: 300px;
  height: 250px;
  width: 100%;
}
.modal-image-info{
  position: relative;
  width: 260px;
  margin: auto;
}
.modal-image-info > div{
  float: left;
  margin: 4px 0 0 5px;
}
.modal-image-info > svg{
  float: left !important;
}
.modal-image-button {
  position: relative;
  top: 6px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  width: 187px;
}
.modal-image-button > form > button {
  border: 1px solid #e54f10 !important;
  z-index: 99;
}
.modal-image-button > form > button > *{
  background-color: #000 !important;
}

.modal-content-title{
  margin: 10px 0 10px -50px;
}
.modal-content-title > h3{
  color: #8e8d8d;
}

@media (max-width: 767px) {
  .modal-fullmode-xs > div > div{
    width: 100% !important;
    max-width: none !important;
    margin: none !important;
    z-index: 2000 !important;
  }
}



/* FLOATS */
.pull-right-responsive {
  float: right !important;
}
.pull-right-responsive > *{
  float: right !important;
}
.pull-left-responsive {
  float: left !important;
}
.pull-left-responsive > *{
  float: left !important;
}
.btn-right > div{
  float: right !important;
}
.btn-left > div{
  float: left !important;
}
@media (max-width: 992px) {
  /* .btn-right > div{
    float: none !important;
  }
  .btn-left > div{
    float: none !important;
  } */
  .pull-right-responsive {
    float: none !important;
  }
  .pull-left-responsive {
    float: none !important;
  }
}

/* LOADING INDICATOR */
.refresh-loading-container {
  width: 100%;
  position: fixed;
  margin: auto;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.77);
  z-index: 99;
}
@media (max-width: 991px) {
  .refresh-loading-container {
    width: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.77);
    z-index: 99;
  }
}
@media (min-width: 1800px) {
  .refresh-loading-container {
    width: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    left: 269px;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.77);
    z-index: 99;
  }
}
.refresh-loader{
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
}
@media (max-width: 991px) {
  .refresh-loader{
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

/* PAGE TRANSITIONS */
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

/* For Image Upload */
.img-cover {
  width: 100%;
  object-fit: cover;
  border: 1px dashed;
}
.images-array-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.red-text-btn > image > div > div > span{
  color: #000 !important;
}
.modal-image-preview2 {
  margin: auto;
  height: 97px;
  /* max-width: 300px; */
  border: solid 1px #c7c6c6;
  margin-bottom: 8px;
  padding: 5px;
}
.modal-image-preview2 > img {
  margin: 15px auto;
  max-width: 300px;
  height: 250px;
  width: 100%;
}
.modal-image-info2{
  position: relative;
  width: 260px;
  margin: auto;
}
.modal-image-info2 > div{
  float: left;
  margin: 4px 0 0 5px;
  font-size: 12px;
}
.modal-image-info2 > svg{
  float: left !important;
  font-size: 12px;
}
