.order-detail-main {
  margin: 30px 0;
}
.order-details {
  font-weight: 600;
  color: #000;
}
.order-details > span {
  font-weight: 300;
}
.order-detail-main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  margin-bottom: 20px;
}
.order-detail-main-grid > h4 {
  margin: 5px 0;
}
.order-product-grid {
  display: grid;
  grid-template-columns: 1fr 2fr repeat(2, 1fr);
  grid-gap: 20px;
}
.order-product-main {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}
.order-product-grid {
  display: grid;
  grid-template-columns: .8fr 2fr repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin-bottom: 10px;
}
.img-cover {
  width: 100%;
  background: no-repeat 50% scroll;
  background-size: cover;
}
.img-cover:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.order-product-list-container {
  border: 1px solid #555;
  padding: 10px 20px;
}
.order-product-list-total {
  background-color: #2d5988;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.order-product-list-total > h3 {
  color: #fff;
  font-weight: 300;
  margin: 0;
}
.transaction-activity-main {
  width: 100%;
}
.transaction-activity-main > h2 {
  font-weight: 300;
}
.transaction-activity-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 20px;
  margin-bottom: 5px;
  background-color: #eee;
  padding: 20px;
  align-items: center;
}
.transaction-activity-grid > h3, .transaction-activity-grid > div > h3, .transaction-activity-grid > div > h4 {
  font-weight: 300;
  margin: 0;
}
.order-rider-name-grid {
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
  align-items: start;
}
.order-rider-name-grid > h4 {
  margin: 0;
}
.filter-btn {
  position: relative;
}
.filter-btn::before{
    background: rgba(0, 0, 0, .1);
    content: '';
    display: block;
    height: 36px;
    left: -1px;
    position: absolute;
    top: 0;
    width: 1px;
}
.view-orders-grid {
  display: grid;
  grid-template-columns: repeat(9,auto) 1fr;
  align-items: center;
}
